/* CSS DIAPO */
/* main{
    width: 80%;
    margin: auto;
}
.diapo{
    position: relative;
    overflow: hidden;
}
.elements{
    
    display: flex;
}
.element{
    flex: 1 0 100%;
    position: relative;
}
.element > img{
    width: 100%;
}
#nav-gauche, #nav-droite{
    position: absolute;
    top: 50%;
    transform: translate(-10%);
    color: white;
    font-size: 2rem;
    cursor: pointer;

}
#nav-droite{
    right: 0;
} */
/* FIN CSS DIAPO */

/* mini bout de css pour le bouton memoire */
#memoire{
    top: 17px;
    left: 150px;
    display: none;
}

/* CSS CALCULATRICE */
body{
    margin: 0;
}
.calculatrice{
    border: solid black;
    position: absolute;
}
.bouton{
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    grid-template-rows: 50px 50px 50px 50px 50px;
    padding: 10px;
}
.boitebtn{
    text-align: center;
    display: block;
    border-style: solid;
    border-width: 1px;
    padding: 5px;
}
