/* CSS DIAPO */
/* main{
    width: 80%;
    margin: auto;
}
.diapo{
    position: relative;
    overflow: hidden;
}
.elements{
    
    display: flex;
}
.element{
    flex: 1 0 100%;
    position: relative;
}
.element > img{
    width: 100%;
}
#nav-gauche, #nav-droite{
    position: absolute;
    top: 50%;
    transform: translate(-10%);
    color: white;
    font-size: 2rem;
    cursor: pointer;

}
#nav-droite{
    right: 0;
} */
/* FIN CSS DIAPO */

/* mini bout de css pour le bouton memoire */
/* #memoire{
    top: 17px;
    left: 150px;
    display: none;
} */

/* CSS CALCULATRICE */
body{
    margin: 0;
}
#memoire{
    position: absolute;
    top: 30px;
    left: 30%;
}
#calculatrice{
    margin: 10px;
    border: solid black;
    border-radius: 10%;
    overflow: hidden;
    background-image: url(../img/math.jpg);
    background-size: 100%;
}
.affichage{
    position: absolute;

}
#ecran{
    display: block;
    border: solid;
    width: 50%;
    text-align: center;
    padding: 5px;
    margin: 10px;  
    margin-left: 25%; 
    background-color: rgb(235, 235, 235);
}
.bouton{
    display: grid;
    grid-template-columns: 60px 60px 60px 60px;
    grid-template-rows: 50px 50px 50px 50px 50px;
    gap: 10px;
    margin-left: 30px;
    margin-right: 25px;
    margin-bottom: 20px;
    
}
.boitebtn{
    text-align: center;
    border-style: solid;
    border-radius: 50%;
    border-width: 1px;
    padding: 2px;
}
.boitebtn:hover{
    transform: scale(0.9);
}
.btn{
    font-size: 1.1rem;
    font-weight: bold;
   
}
/* @keyframes spin{
    100%{
        transform: rotateX(360deg);
    }
} */
@media screen and (min-width:767px) {
    .calculatrice{
        width: 45%;
    }
    #memoire{
        left: 110px;
    }
}
@media screen and (min-width:1360px) {
    .calculatrice{
        width: 25%;

    }
    #memoire{
        left: 110px;
    }
}
@media screen and (min-width:1550px) {
    .calculatrice{
        width: 20%;
    }
    #memoire{
        left: 120px;
    }
    .bouton{
        margin-left: 50px;
    }
}
